@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Club Details</h1>
    <p>Learn about <a href="Home/Clubs"> the clubs at Bronx Science</a>.</p>
</div>
 